<!doctype html>
<html>
<head>
  <title>rekt.review</title>
  <link rel="stylesheet" href="css/vendor.min.css" />
  <script data-main="js/index" src="js/vendor.min.js"></script>
</head>
<body>
<div class="container">
</div>
</body>
</html>
