<!doctype html>
<html>
<head>
  <title>rekt.review</title>
  <link rel="stylesheet" href="css/vendor.min.css" />
  <link rel="stylesheet" href="css/style.min.css" />
  <script src="js/review.min.js"></script>
</head>
<body>
<div class="container">
  <h1 id="title"></h1>

  <p>
    <span id="description" class="verbatim"></span>
    <span class="signature">
      ~ <span id="submitter"></span>
      @ <span id="timestamp"></span>
    </span>
  </p>

  <div id="sources"></div>
</div>

{{> _footer.html }}
</body>
</html>
