<hr />
<footer class="container">
<div class="row">
  <ul class="u-pull-right inline">
    <li><a href="{{ config.node.homepage }}"><i class="fa fa-github"></i> {{ config.node.name }}</a></li>
  </ul>
</div>
</footer>
